[Main]
Population Size = 1000
Number of Epochs = 500
Number of Inputs = 4
Number of Outputs = 2
Target Fitness = 0

[Mutation]
Weight Mutation = 0.80
Weight Randomization = 0.10
Neuron Mutation = 0.03
Connection Mutation = 0.03
Aggregation Mutation = 0.10
Exponentiate Connection = 0.001

[Speciation]
Generational Talents = 5
Species Threshold = 4.0
History Sensitivity = 10
Activity Sensitivity = 5.0

[Activation]
Activation Function = identity
Aggregation Options = sum, product
