[Main]
Population Size = 1500
Number of Epochs = 200
Number of Inputs = 3
Number of Outputs = 2
Target Fitness = -0.1

[Mutation]
Weight Mutation = 0.60
Weight Randomization = 0.10
Neuron Mutation = 0.03
Connection Mutation = 0.03
Aggregation Mutation = 0.10
Exponentiate Connection = 0.001

[Speciation]
Generational Talents = 5
Species Threshold = 4.0
Length Of History = 4

[Activation]
Activation Function = identity
Aggregation Options = sum, product
Activation Sensitivity = 5.0
