[Main]
Population Size = 1000
Number of Epochs = 1000
Number of Inputs = 3
Number of Outputs = 2

[Mutation]
Weight Mutation = 0.80
Weight Randomization = 0.10
Neuron Mutation = 0.03
Connection Mutation = 0.03

[Speciation]
Generational Talents = 5
Species Threshold = 4.0
Activity Sensitivity = 5.0
