[Main]
Population Size = 400
Number of Epochs = 100
Number of Inputs = 4
Number of Outputs = 4
Target Fitness = 20

[Mutation]
Weight Mutation = 0.60
Weight Randomization = 0.10
Neuron Mutation = 0.03
Connection Mutation = 0.03
Aggregation Mutation = 0.10

[Speciation]
Generational Talents = 5
Length Of History = 5

[Activation]
Activation Function = sigmoid
Aggregation Options = sum
Activation Sensitivity = 0.001
