[Main]
Population Size = 1000
Number of Epochs = 50
Number of Inputs = 2
Number of Outputs = 1
Target Fitness = 3.9

[Mutation]
Weight Mutation = 0.80
Weight Randomization = 0.10
Neuron Mutation = 0.03
Connection Mutation = 0.03
Aggregation Mutation = 0.10
Exponentiate Connection = 0.001

[Speciation]
Generational Talents = 5
Species Threshold = 4.0
History Sensitivity = 7
Activity Sensitivity = 5.0

[Activation]
Activation Function = sigmoid
Aggregation Options = sum
