[Main]
Population Size = 300
Number of Epochs = 50
Number of Inputs = 2
Number of Outputs = 1
Target Fitness = 3.95

[Mutation]
Weight Mutation = 0.80
Weight Randomization = 0.10
Neuron Mutation = 0.03
Connection Mutation = 0.03

[Speciation]
Generational Talents = 5
Species Threshold = 4.0
Activity Sensitivity = 5.0
